header{
    text-align: center;
}

#buscador{
    text-align: center;
    padding: 20px;
}


#celulares{
    display: flex;
    justify-content:space-around;
    
}

#celulares img{
    width: 280px;
}

#celulares h3{
    text-align: center;
}

img{
    height: 100%;
  
  }

  td{
    height: 100px;
  }

 h2{
   text-align: center;
   color:gray;
 }

 .precio{
   display:block;
   font-size:20px;
 }

 #carrito{
    width: 30%; 
    
    height: 100vh;
 }
  
#listaProductos{

  width: 70%;
}

#contenedorPadre{

  display:flex;
}

#producto{
  text-align: center;
}